<div class="container">
  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div class="jumbotron text-center">
    <h1>Spells!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
  </div>

  <div>
    <div class="col-md-4"><label>Name </label>  <input type="text" ng-model="spells.filters.name"></div>
    <div class="col-md-4"><label>Level </label> <input type="text" ng-model="spells.filters.level"></div>
    <div class="col-md-4">
      <ui-select ng-model="spells.classSelected">
        <ui-select-match>{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="class in spells.classes | filter: $select.search">
          <div ng-bind-html="class | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-primary" ng-click="spells.saveSpells()">
      Save my spells
    </button>
    <button type="button" class="btn btn-primary" ng-click="spells.filterSpells()">
      Show my spells
    </button>
    <button type="button" class="btn btn-primary" ng-click="spells.showAll()">
      Show all
    </button>
  </div>
  <div class="row">
    <accordion close-others="false">
      <accordion-group ng-repeat="spell in spells.spells | filter:{
      Name: spells.filters.name,
      Level: spells.filters.level,
      Classes: spells.classSelected}
       |orderBy:['Level','Name']
      ">
        <accordion-heading>
          <input type="checkbox" ng-checked="spells.isSaved(spell.Name)" ng-click="spells.saveSpell(spell.Name)">
          <b>{{::spell.Name}}</b>
          <div  class="pull-right">
            <b>Level:</b> {{::spell.Level}}</span>
          </div>
        </accordion-heading>
        <div><b>Class: </b>
            <span ng-repeat="class in spell.Classes">
              {{::class}}
            </span>
        </div>
        <div><b>Casting Time: </b> {{::spell.CastingTime}}</div>
        <div><b>Duration: </b>
          <span ng-if="::spell.Concentration">(Concentration) </span>
          {{::spell.Duration}}</div>
        <div><b>School: </b> {{::spell.School}}</div>
        <div><b>Components: </b>
          <span ng-if="::spell.Somatic">S </span>
          <span ng-if="::spell.Verbal">V </span>
          <span ng-if="::spell.Material">M </span>
          <span ng-if="::spell.Material">({{::spell.MaterialText}}) </span>
        </div>
        {{::spell.Description}}
      </accordion-group>
    </accordion>
  </div>

</div>
