<div class="container">
  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div class="row">
    <label>Name </label>  <input type="text" ng-model="character.character.name">
    <label>Class </label>  <input type="text" ng-model="character.character.class">
    <label>Strength </label>  <input type="text" ng-model="character.character.strength">
    <label>Dexterity </label>  <input type="text" ng-model="character.character.dexterity">
    <label>Constitution </label>  <input type="text" ng-model="character.character.constitution">
    <label>Intelligence </label>  <input type="text" ng-model="character.character.intelligence">
    <label>Wisdom </label>  <input type="text" ng-model="character.character.wisdom">
    <label>Charisma </label>  <input type="text" ng-model="character.character.charisma">

  </div>

</div>
